
/* Gaya untuk tombol */
.button {
    display: inline-block;
    padding: 10px 30px; /* Mengatur padding untuk mengubah bentuk tombol */
    background-color: rgb(21, 223, 213);
    color: #fff;
    text-decoration: none;
    border: 2px solid #add8e6; /* Warna biru muda */
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s; /* Efek transisi */
}

/* Efek Hover */
.button:hover {
    background-color: rgb(20, 15, 15); /* Warna latar belakang saat hover */
    color: #fff; /* Warna teks saat hover */
}



/* Gaya untuk border atas */
.border-top {
    border-top: 2px solid #0074d9;
    margin: 20px 0;
}

/* Gaya untuk menu */
/* Gaya untuk navigasi */
/* Gaya untuk header */
header {
    position: relative;
}

/* Gaya untuk gambar di header */
header .full-width-image {
    width: 100%;
    height: 100px;
}

/* Gaya untuk teks di header */
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    font-size: 24px;
}

/* Gaya untuk navigasi */
nav {
    background-color: #add8e6;
    padding: 10px;
}

/* Gaya untuk menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Gaya untuk tautan di menu */
nav a {
    text-decoration: none;
    color: #0074d9;
    font-weight: bold;
}

/* Saat tautan dihover, berikan warna latar belakang dan ubah warna teks */
nav a:hover {
    background-color: #0074d9;
    color: #fff;
}
